@model Assign3_Sasha_Srinivas_n01458354.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back To Teachers</a>
<div id="containershow">
    <h2>@Model.TeacherFname @Model.TeacherLname</h2>
    <p>Employee Number: @Model.EmployeeNumber</p>
</div>
