@model Assign3_Sasha_Srinivas_n01458354.Models.Teacher

@{
    ViewBag.Title = "Update";
}


@{
    ViewBag.Title = "New";
}
<div id="containershow">
    <nav>
        <a class="navlink" href="/Teacher/Show/@Model.TeacherId">Back</a>
    </nav>
    <h2>Update Teacher</h2>
    <form method="POST" action="/Teacher/Update/@Model.TeacherId">
        <div>
            <label for="TeacherFname">First Name</label>
            <input type="text" id="TeacherFname" name="TeacherFname"
                   value="@Model.TeacherFname"/>
        </div>

        <div>
            <label for="TeacherLname">Last Name</label>
            <input type="text" id="TeacherLname" name="TeacherLname"
                   value="@Model.TeacherLname"/>
        </div>

        <div>
            <label for="EmployeeNumber">Employee Number</label>
            <input type="text" id="EmployeeNumber" name="EmployeeNumber" 
                   value="@Model.EmployeeNumber"/>
        </div>
        <div>
            <input type="submit" value="Update Teacher" />
        </div>
    </form>
</div>

