@model IEnumerable<Assign3_Sasha_Srinivas_n01458354.Models.Student>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should be showing information about all students</p>

<div id="containerlist">
    <h2>List of Students</h2>
    @foreach (var student in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/student/Show/@student.StudentId">@student.StudentFname @student.StudentLname</a></div>
        </div>
    }
</div>